/* font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');


/* Utilities */

body{
    font-family: 'Poppins', sans-serif;
}

/* players ..................
...........................*/

.players{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding-left: 180px;
}
.player{
    width: 330px;
    height: 474px;
}

.player img{
    width: 300px;
    height: 256px;
}
 h3{
    font-size: 28px;
}
p{
    font-size: 16px;
    color:#6C6C6C;
    font-weight: 400;
}